div {
    background-color: lightgreen;
width:200px;
height:200px;
}
@media (max-width: 500px) {
    div {
        background-color: green;
          width:200px;
          height:200px;
    }
}
@media (max-width: 799px) and (min-width:500px){
div {
	width: 200px;
	height: 200px;
	background: blue;
	
}
}
@media (min-width:768px){
div {
	width: 200px;
	height: 400px;
	background: red;
}
