.container{
  display: table;
}
#row{
  display: table-row;

}
#im1 {
  display: table-cell;
  height:450px;
  width:250px;
       }
#e{
  display: table-cell;
   vertical-align:top;
}
#b,#c,#d{
  display: table-row;
 
 }
#im2{
  height:150px;
  width:250px;
    }
