.container {
  display: table;
}
.row {
  display: table-row;

}

img {
  display: table-cell;
  height:150px;
  width:200px;
    padding: 1em 1em 1em 1em;
      }

  p {
  display: table-cell;
   height:150px;
   width:600px;
   text-align:justify;
   vertical-align:top;
     padding: 1em 1em 1em 1em;
}
ol{
display: table-cell;
   height:150px;
   width:250px;
   text-align:justify;
   vertical-align:top;
   padding: 1em 1em 1em 1em;
}